[database]
sqlite_file = "path/to/sqlite.db"  # 用于 migrate_sqlite_to_pg.py 和 sync_pg_to_sqlite.py

[postgresql.cloud]
dbname = "your_cloud_db"
user = "your_cloud_user"
password = "your_cloud_password"
host = "your.cloud.host"
port = 5432

[postgresql.local]
dbname = "your_local_db"
user = "your_local_user"
password = "your_local_password"
host = "localhost"
port = 5432
